/* Import Compass Mixins */
/* Variables */
body {
  background: #fff; }

@keyframes doRotation {
  from {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px); } }

.unordered {
  background: #336efc;
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  transform-style: initial; }
  .unordered li {
    padding: 5px;
    background: #fbb254; }
    .unordered li:hover {
      background-color: rgba(251, 178, 84, 0.8);
      cursor: pointer;
      font-weight: bold;
      color: #fff;
      animation-name: doRotation;
      animation-duration: 1s;
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      filter: blur(0px); }
    .unordered li:first-child {
      -moz-border-radius-topleft: 20px;
      -webkit-border-top-left-radius: 20px;
      border-top-left-radius: 20px;
      -moz-border-radius-topright: 20px;
      -webkit-border-top-right-radius: 20px;
      border-top-right-radius: 20px; }
    .unordered li:last-child {
      -moz-border-radius-bottomleft: 20px;
      -webkit-border-bottom-left-radius: 20px;
      border-bottom-left-radius: 20px;
      -moz-border-radius-bottomright: 20px;
      -webkit-border-bottom-right-radius: 20px;
      border-bottom-right-radius: 20px; }
